<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogFilename" value="OccProcess.log" />
		
		
		<add key="serilog:minimum-level" value="Verbose" />
		<add key="serilog:using:Console" value="Serilog.Sinks.Console" />
		<add key="serilog:write-to:Console.restrictedToMinimumLevel" value="Verbose" />
		<add key="serilog:write-to:Console.outputTemplate" value="{SystemDate} {ProcessName} [{Level:u3}] {Message:lj} {Timestamp:MM/dd/yyyy HH:mm:ss.fff} {NewLine}{Exception} " />
		<add key="File.restrictedToMinimumLevel" value="Verbose" />
		<add key="File.outputTemplate" value="{SystemDate} {ProcessName} [{Level:u3}] {Message:lj} {Timestamp:MM/dd/yyyy HH:mm:ss.fff} {NewLine}{Exception}" />
		<add key="File.rollOnFileSizeLimit" value="true" />
		<add key="File.shared" value="false" />
		<add key="File.fileSizeLimitBytes" value="10000000" />
		<add key="EventLog" value="Serilog.Sinks.EventLog" />
		<add key="EventLog.restrictedToMinimumLevel" value="Error" />
		<add key="EventLog.manageEventSource" value="true" />
		<add key="EventLog.outputTemplate" value="{SystemDate} {ProcessName} [{Level:u3}] {Message:lj} {Timestamp:MM/dd/yyyy HH:mm:ss.fff} {NewLine}{Exception}{Properties:j}" />
		<add key="Email" value="Serilog.Sinks.Email" />
		<add key="Email.FromEmail" value="icsys@inteliclear.com" />
		<add key="Email.ToEmail" value="ronaldo@inteliclear.com" />
		<add key="Email.MailServer" value="smtp.office365.com" />
		<add key="Email.NetworkCredentials.UserName" value="icsys" />
		<add key="Email.NetworkCredentials.Password" value="job@check4ic" />
		<add key="Email.EnableSsl" value="true" />
		<add key="Email.Port" value="587" />
		<add key="Email.EmailSubject" value="[{Level:u3}] {SystemDate} {ProcessName} {SourceContext}" />
		<add key="Email.outputTemplate" value="{SystemDate} {ProcessName} {SourceContext} [{Level:u3}] {Message:lj} {Timestamp:MM/dd/yyyy HH:mm:ss.fff} {NewLine}{Exception}" />
		<add key="Email.batchPostingLimit" value="1" />
		<add key="Email.restrictedToMinimumLevel" value="Error" />
	</appSettings>
</configuration>